@{
    ViewBag.Title = "Stash Inventory System";
}
<h1>@ViewBag.Title</h1>

<p>
    The Stash Inventory System was designed and created by Team 1700 for their senior project.
    Stash aids users in organizing their items into designated boxes/containers.  Users are
    able to register and keep track of their items virtually through this web application.
</p>

<p>
    Meet the team before Thanksgiving break and see the Stash Inventory System in action during a live demo.
    The demo will be held in the Hickman Science Center atrium for a senior project poster session on Wednesday, November 18 
    from 12:00 PM - 2:00 PM.  Stash Version 3.2 is still pre-Alpha, and Team 1700 is working hard 
    to improve their senior project.  
</p>

<br /> <br />
<p align="center">
    <img alt="Team" center src="~/Content/Team1700.jpg" />
</p>
